*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.root-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.create-student-container{
    /* border: 1px solid red; */
    height: 43vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
.form{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid green; */
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.input-field{
    width: 100%;
    height: 2rem;
    /* padding: 8px; */
    margin-top: 2rem;
    border-radius: 12px;
    border: none;
    background-color: #eee;
   border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #f3f3f3;
  box-shadow: inset 2px 5px 10px rgba(164, 147, 147, 0.3);
  transition: 300ms ease-in-out;
}
.create-btn{
    margin-top: 1rem;
    height: 2rem;
    width: 9rem;
    color: white;
    background-color: rgb(103, 103, 235);
    border-radius: 0.5rem;
    border: none;
    
}
.create-btn:hover{
    background: rgba(103, 103, 235, 0.858);
    cursor: pointer;
}

